.hero{
  padding:60px;
  background:linear-gradient(#f4f7fb,#ffffff);
}

.hero h1{
  font-size:38px;
  margin-bottom:15px;
}

.hero p{
  font-size:18px;
  color:#555;
}

.heroBtns{
  margin-top:25px;
  display:flex;
  gap:15px;
}

.mainBtn{
  background:linear-gradient(90deg,#1976d2,#26c6da);
  color:white;
  padding:14px 28px;
  border-radius:30px;
  text-decoration:none;
}

.secBtn{
  border:1px solid #1976d2;
  color:#1976d2;
  padding:14px 28px;
  border-radius:30px;
  text-decoration:none;
}

.cards{
  margin-top:50px;
  display:flex;
  gap:20px;
}

.card{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 4px 20px rgba(0,0,0,0.05);
  width:300px;
}